# bluespec ignores
*.bo
*.ba
*.bi
*.cxx

# C ignores
*.o
*.so

# generic hardware ignores
*.hex
*.bin

# general ignore
*.log
~*
*.sw?
.DS_Store

# specific to project
xbitmanip-draft.pdf
bramGen32
bramGen64
repl32
repl64
/tb32
/tb64
/veri32
/veri64
/archive/*.h
/bsv/*.h
